.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background: #009688;
}

.logoDiv {
  width: 120px;
  height: 90px;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.searchSection form {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 6px 15px;
  backdrop-filter: blur(8px);
}

.searchSection input {
  border: none;
  background: transparent;
  outline: none;
  width: 300px;
  color: white;
  font-size: 16px;
}

.searchSection input::placeholder {
  color: #e0e0e0;
}

.searchSection button {
  border: none;
  background: transparent;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
  text-align: center;
  padding-top: 2px;
}

.navIcons {
  display: flex;
  gap: 25px;
}

.navIcons a {
  font-size: 1.5rem;
  color: white;
  transition: 0.3s ease;
}

.navIcons a:hover {
  color: #c8e6ff;
}
.navIcons a.active {
  color: red;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.mobileMenu {
  display: none;
}

@media (max-width: 820px) {
  .navIcons {
    display: none;
  }

  .searchSection {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .mobileMenu {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1b8058;
    padding: 10px 0;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 200;
  }

  .mobileMenu a {
    color: white;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    text-decoration: none;
  }

  .mobileMenu a:hover {
    color: #c8e6ff;
  }

  .mobileMenu a span {
    font-size: 0.7rem;
    color: white;
  }
}

/* 

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background: #009688;
}

.logoDiv {
  width: 120px;
  height: 90px;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.searchSection form {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 6px 15px;
  backdrop-filter: blur(8px);
}

.searchSection input {
  border: none;
  background: transparent;
  outline: none;
  width: 300px;
  color: white;
  font-size: 16px;
}

.searchSection input::placeholder {
  color: #e0e0e0;
}

.searchSection button {
  border: none;
  background: transparent;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
  text-align: center;
  padding-top: 2px;
}

.navIcons {
  display: flex;
  gap: 25px;
}

.navIcons a {
  font-size: 1.5rem;
  color: white;
  transition: 0.3s ease;
}

.navIcons a:hover {
  color: #c8e6ff;
}
.navIcons a.active {
  color: red;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.mobileMenu {
  display: none; 
}


 @media (max-width: 820px) {
 
  .navIcons {
    display: none;
  }

  .searchSection {
    display: none;
  }

  .hamburger {
    display: none; 
  }

  .mobileMenu {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1b8058;
    padding: 10px 0;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 200;
  }

  .mobileMenu a {
    color: white;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    text-decoration: none;
  }

  .mobileMenu a:hover {
    color: #c8e6ff;
  }

  .mobileMenu a span {
    font-size: 0.7rem;
    color: white;
  }
} */
