.header {
  width: 95%;
  margin: 1.5rem auto;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../assets/back2.jpg") no-repeat center center;
  background-size: cover;
  border-radius: 0.6rem;
}

.header h1 {
  font-size: 2.3rem;
  font-weight: 900;
  color: #009688;
  text-align: center;
  transform: translateY(6.25rem);
  opacity: 0;
  animation: slideUp 1s ease forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(3.1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and(min-width:600px) {
  .header h1 {
    font-size: 2.5rem;
  }
}

@media only screen and(min-width:992px) {
  .header h1 {
    font-size: 3rem;
  }
}
/* 
.header {
  width: 95%;
  margin: 20px auto;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../assets/back2.jpg") no-repeat center center;
  background-size: cover;
  border-radius: 10px;
}

.header h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #009688;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  animation: slideUp 1s ease forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

*/
