@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: tomato;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
}
/* font-family: "Roboto", sans-serif; */

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showing_empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.showing_empty .showing_img {
  width: 200px;
  transform: translateY(-6.25rem);
  opacity: 0;
  animation: slideDown 1.5s ease forwards;
}

.showing_empty .showing_btn {
  width: 250px;
  padding: 0.6rem;
  text-align: center;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  letter-spacing: 1.5px;
  transition: all 0.3s;
  border-radius: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  border: 0.5px solid #009688;
  transform: translateY(6.25rem);
  opacity: 0;
  animation: slideUp 1.5s ease forwards;
}
.showing_empty .showing_btn:hover {
  background-color: #009688;
  color: white;
}

@keyframes slideDown {
  0% {
    transform: translateY(-3.1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(3.1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
