@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active {
  color: tomato;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
}
p,
a,
small,
span {
  /* font-family: "Roboto", sans-serif; */
}
